<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div id="main-container">
  <p>{{crud}}</p>
  <form class="post-it-form" action="/post-it" method="post">
    <label>Make a Donk</label>
    <input type="text" name="postbody" placeholder="Place your donks here" required />
    <label>Who put a donk on it</label>
    <input type="text" name="name" required>
    <input type="submit" value="Donk it up">
  </form>
</div>
